[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
[project]
	description = demo gerrit function
[access "refs/*"]
	owner = group user/Trần Minh Duy (tranminhduy1103)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Trần Minh Duy (tranminhduy1103)
	label-Verified = -1..+1 group user/Trần Minh Duy (tranminhduy1103)
	push = group user/Trần Minh Duy (tranminhduy1103)
	read = group user/Trần Minh Duy (tranminhduy1103)
	rebase = group user/Trần Minh Duy (tranminhduy1103)
	removeReviewer = group user/Trần Minh Duy (tranminhduy1103)
	submit = group user/Trần Minh Duy (tranminhduy1103)
[access "refs/heads/*"]
	create = group user/Trần Minh Duy (tranminhduy1103)
	push = +force group user/Trần Minh Duy (tranminhduy1103)
	pushMerge = group user/Trần Minh Duy (tranminhduy1103)
	read = group user/Trần Minh Duy (tranminhduy1103)
[access "refs/tags/*"]
	push = group user/Trần Minh Duy (tranminhduy1103)
	push = +force group user/Trần Minh Duy (tranminhduy1103)
[receive]
	createNewChangeForAllNotInTarget = true
[reviewer]
	enableByEmail = true
[plugin "zuul-results-summary"]
	enabled = true
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
